.caja-1
{
	position: relative;
	left: 300px;
	top: 200px;
}
.caja-2
{
	position:relative;
	left: 300px;
	top: 200px;
}
.caja-3
{
	position: relative;
	left: 700px;
	top: -500px;
}
.texto{
	position: absolute;
	right: 125px;
	
}
.cabecera{
position: fixed;
text-align: center;
}
.text{
	position: absolute;
	right: -10px;
	top: 5px;
